[submodule "firrtl"]
	path = firrtl
	url = https://github.com/log-when/firrtl.git
	branch = testCHA
[submodule "chiseltest"]
	path = chiseltest
	url = https://github.com/log-when/chiseltest.git
	branch = testCHA
